In [1]:
from biblioteca import tabela_para_excel, pdf_para_tabela
import pandas as pd
from loguru import logger

In [2]:
logger.add('logfile.txt', format="{time} {level} {message}", level="INFO")

1

In [3]:
try:
    tabela = pdf_para_tabela(r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data', 'extrato.pdf')
    if tabela is not None:
        tabela_para_excel(tabela, r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data', 'extrato.xlsx')
except Exception as e:
    logger.error(f'Erro ao executar o código principal: {e}')

2024-07-28 18:32:27.491 | INFO     | biblioteca:pdf_para_tabela:9 - Convertendo PDF para tabela. Função pdf_para_tabela
2024-07-28 18:32:31.139 | INFO     | biblioteca:pdf_para_tabela:21 - Conversão do PDF para tabela concluída com sucesso
2024-07-28 18:32:31.140 | INFO     | biblioteca:tabela_para_excel:32 - Convertendo tabela para arquivo xlsx. Função tabela_para_excel
2024-07-28 18:32:31.141 | WARNING  | biblioteca:tabela_para_excel:35 - Nenhuma tabela foi fornecida
2024-07-28 18:32:31.230 | INFO     | biblioteca:tabela_para_excel:54 - Conversão de tabela para xlsx realizada com sucesso
2024-07-28 18:32:31.232 | INFO     | biblioteca:tabela_para_excel:55 - Arquivo xlsx salvo com sucesso em : C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data\extrato.xlsx

In [4]:
df = pd.read_excel(r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data\extrato.xlsx')
display(df)

,Agência 3793-1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Conta corrente 12034-0,NaN,SEED PARANA - FEB,NaN,NaN,NaN
1,Período do extrato 11/2018,NaN,NaN,NaN,NaN,NaN
2,Lançamentos,NaN,NaN,NaN,NaN,NaN
3,Dt. movimento Dt. balancete,NaN,Histórico,Documento,Valor R$,Saldo
4,31/10/2018,NaN,Saldo Anterior,NaN,NaN,"0,00 C"
...,...,...,...,...,...,...
283,28/11/2018,NaN,Repasse,51.203.001,"529.967,67 C",NaN
284,28/11/2018,NaN,Apl.BB Fundos Exclusivos,1.338,"529.967,67 D","0,00 C"
285,29/11/2018,NaN,Repasse,51.203.001,"372.059,70 C",NaN
286,29/11/2018,NaN,Apl.BB Fundos Exclusivos,1.338,"372.059,70 D","0,00 C"
287,30/11/2018,NaN,Repasse,51.203.001,"611.367,13 C",NaN