# Imports

In [1]:
from biblioteca import tabela_para_excel, pdf_para_tabela
import numpy as np
import pandas as pd
from loguru import logger

# Exibindo colunas e linhas sem abreviações

### para exibir as colunas e linhas de um DataFrame sem abreviações, você pode usar o método pd.set_option do Pandas para configurar as opções de exibição.

In [2]:

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

# Geração de logs

In [3]:
logger.add('logfile.txt', format="{time} {level} {file} {message}", level="INFO")

1

# Extraindo dados do pdf e convertendo para excel

In [4]:
try:
    tabela = pdf_para_tabela(r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data', 'extrato.pdf')
    if tabela is not None:
        tabela_para_excel(tabela, r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data', 'extrato.xlsx')
except Exception as e:
    logger.error(f'Erro ao executar o código principal: {e}')

2024-08-13 22:56:22.216 | INFO     | biblioteca:pdf_para_tabela:9 - Iniciando a conversão do PDF para tabela.
2024-08-13 22:56:26.352 | INFO     | biblioteca:pdf_para_tabela:19 - Conversão do PDF para tabela concluída com sucesso.
2024-08-13 22:56:26.354 | INFO     | biblioteca:tabela_para_excel:29 - Iniciando a conversão da tabela para arquivo Excel.
2024-08-13 22:56:26.413 | INFO     | biblioteca:tabela_para_excel:50 - Arquivo Excel salvo com sucesso em: C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data\extrato.xlsx

In [5]:
df = pd.read_excel(r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data\extrato.xlsx')
df.head()

,Agência 3793-1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Conta corrente 12034-0,NaN,SEED PARANA - FEB,NaN,NaN,NaN
1,Período do extrato 11/2018,NaN,NaN,NaN,NaN,NaN
2,Lançamentos,NaN,NaN,NaN,NaN,NaN
3,Dt. movimento Dt. balancete,NaN,Histórico,Documento,Valor R$,Saldo
4,31/10/2018,NaN,Saldo Anterior,NaN,NaN,"0,00 C"

In [6]:
df.shape

(288, 6)

In [7]:
df.dtypes

Agência 3793-1    object
Unnamed: 1        object
Unnamed: 2        object
Unnamed: 3        object
Unnamed: 4        object
Unnamed: 5        object
dtype: object

In [8]:
df = df.rename(columns={'Agência 3793-1':'Dt. movimento','Unnamed: 1':'Dt. balancete','Unnamed: 2':'Histórico','Unnamed: 3':'Documento','Unnamed: 4':'Valor R$','Unnamed: 5':'Saldo'})
df.head()

,Dt. movimento,Dt. balancete,Histórico,Documento,Valor R$,Saldo
0,Conta corrente 12034-0,NaN,SEED PARANA - FEB,NaN,NaN,NaN
1,Período do extrato 11/2018,NaN,NaN,NaN,NaN,NaN
2,Lançamentos,NaN,NaN,NaN,NaN,NaN
3,Dt. movimento Dt. balancete,NaN,Histórico,Documento,Valor R$,Saldo
4,31/10/2018,NaN,Saldo Anterior,NaN,NaN,"0,00 C"

In [9]:
df['Dt. balancete'].value_counts()

Dt. balancete
Repasse                                         10
Repasse 51.201.001                               9
+ Transferência recebida 553.793.000.007.093     9
Apl.BB Fundos Exclusivos 1.338                   8
Apl.BB Fundos Exclusivos                         3
+ Transferência enviada 553.793.000.011.145      2
Deb.Distribuição Estadual 500                    2
Resg.BB Fundos Exclusivos 1.201.338              2
19/11 3793 GEPR NOTA 00076416890000189           1
20/11 3793 GOV PARAN 00076416890000189           1
21/11 3793 GOV PARAN 00076416890000189           1
Saque sem cartão 2.124                           1
22/11 3793 GOV PARAN 00076416890000189           1
23/11 3793 GOV PARAN 00076416890000189           1
27/11 3793 GOV PARAN 00076416890000189           1
Saque sem cartão 14.245                          1
26/11 3793 GOV PARAN 00076416890000189           1
26/11 3793 GEPR NOTA 00076416890000189           1
29/11 3793 GOV PARAN 00076416890000189           1
28/11 3793 GOV PARAN 00076416890000189           1
S A L D O                                        1
30/11 3793 GOV PARAN 00076416890000189           1
Resg.BB Fundos Exclusivos                        1
Saque sem cartão                                 1
+ Transferência enviada                          1
27/11 3793 GEPR FUND 00076416890000189           1
Name: count, dtype: int64

In [10]:
df = df.replace(np.nan, None)
df.head()

,Dt. movimento,Dt. balancete,Histórico,Documento,Valor R$,Saldo
0,Conta corrente 12034-0,None,SEED PARANA - FEB,None,None,None
1,Período do extrato 11/2018,None,None,None,None,None
2,Lançamentos,None,None,None,None,None
3,Dt. movimento Dt. balancete,None,Histórico,Documento,Valor R$,Saldo
4,31/10/2018,None,Saldo Anterior,None,None,"0,00 C"

In [11]:
df_sem_coluna_saldo = df.drop(columns=['Saldo', 'Dt. balancete', 'Documento'])
df_sem_coluna_saldo.head()

                 Dt. movimento          Histórico  Valor R$
0       Conta corrente 12034-0  SEED PARANA - FEB      None
1   Período do extrato 11/2018               None      None
2                  Lançamentos               None      None
3  Dt. movimento Dt. balancete          Histórico  Valor R$
4                   31/10/2018     Saldo Anterior      None

In [12]:
caminho = r'C:\Users\mateu\Área de Trabalho\AMBIENTE DE TRABALHO\ESTUDOS\UFPB\P4\ENGENHARIA DE SOFTWARE\projeto-ESW\data\teste.xlsx'
df_sem_coluna_saldo.to_excel(caminho, index=False)